{% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
{% endif %}
<h2>Neues Seminar erstellen</h2>

<form method="POST" action="{{ url_for('ausbilder_routes.seminar_erstellen') }}">
    <div class="form-group">
        <label for="Seminar id">Seminar ID</label>
        <input type="text" class="form-control" name="Seminar id" required>
    </div>
    <div class="form-group">
        <label for="Datum Uhrzeit">Datum Uhrzeit (yyyy-mm-dd hh:mm:ss)</label>
        <input type="text" class="form-control" name="Datum Uhrzeit" required>
    </div>
    <div class="form-group">
        <label for="Strasse">Straße</label>
        <input type="text" class="form-control" name="Strasse" required>
    </div>
    <div class="form-group">
        <label for="Hausnummer">Hausnummer</label>
        <input type="text" class="form-control" name="Hausnummer" required>
    </div>
    <div class="form-group">
        <label for="PLZ">PLZ</label>
        <input type="text" class="form-control" name="PLZ" required>
    </div>

    <!-- Dropdown for Kursname -->
    <div class="form-group">
        <label for="Kurs">Kurs</label>
        <select class="form-control" name="Kurs" required>
            <option value="" disabled selected>Bitte wählen Sie einen Kurs</option>
            {% for kurs in kurs_names %}
                <option value="{{ kurs.kursname }}">{{ kurs.kursname }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Seminar erstellen</button>
</form>