{% extends 'base.html' %}

{% block content %}
    {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
    {% endif %}

    <div class="container reservierungen-container mt-4">
        <h2>Aktuelle Parameter von Seminar</h2>
        <table class="table table-striped reservierungen-tabelle">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Kursname</th>
                    <th scope="col">Datum Uhrzeit</th>
                    <th scope="col">Strasse</th>
                    <th scope="col">Hausnummer</th>
                    <th scope="col">PLZ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ seminar.id }}</td>
                    <td>{{ seminar.kursname }}</td>
                    <td>{{ seminar.datum_uhrzeit }}</td>
                    <td>{{ seminar.strasse }}</td>
                    <td>{{ seminar.hausnr }}</td>
                    <td>{{ seminar.plz }}</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="edit-container">
        <h2>Seminar ändern</h2>
        <form method="POST" action="{{ url_for('ausbilder_routes.seminar_aendern', seminar_id=seminar.id) }}">
            <div class="mb-3">
                <label for="Datum_Uhrzeit" class="form-label">Datum Uhrzeit (yyyy-mm-dd hh:mm:ss)</label>
                <input type="text" class="form-control" id="Datum_Uhrzeit" name="Datum_Uhrzeit" value="{{ seminar.datum_uhrzeit }}"required autofocus>
            </div>
            <div class="mb-3">
                <label for="Strasse" class="form-label">Straße</label>
                <input type="text" class="form-control" id="Strasse" name="Strasse" value="{{ seminar.strasse }}" required>
            </div>
            <div class="mb-3">
                <label for="Hausnummer" class="form-label">Hausnummer</label>
                <input type="text" class="form-control" id="Hausnummer" name="Hausnummer" value="{{ seminar.hausnr }}" required>
            </div>
            <div class="mb-3">
                <label for="PLZ" class="form-label">PLZ</label>
                <input type="text" class="form-control" id="PLZ" name="PLZ" value="{{ seminar.plz }}" required>
            </div>

            <button type="submit" class="btn btn-orange">Seminar ändern</button>
        </form>
    
    </div>
{% endblock %}